{% extends 'cpbase.html' %}
{% load static %}
{% block content %}

<div class="row">
    <div class="col-lg-2"></div>
    <div class="col-lg-8">
        <h1>Add New Brand</h1>
        <form class="" enctype = "multipart/form-data" action = ""  method = "POST">
            {% csrf_token %}
            <div class = "form-group has-feedback " >
                <input type="text" class="form-control" name="bname" placeholder="Enter Brand Name"/>
            </div>
            <div class = "form-group has-feedback " >
                <input type="text" class="form-control" name="borgin" placeholder="Enter Brand Orgin"/>
            </div>
            <div class = "form-group has-feedback " >
                <input type="file" class="form-control" name="bimg" />
            </div>
            
            <input type="submit" class="btn btn-info  pull-right" value="save" />
        </form>
    </div>
</div>
{% endblock content %}