{% load static %}
<div class="col-12 ">
            <div class="row">
                <div class="col-lg-1">

                </div>
                <div class="col-lg-4">
                    <p class="copR"><i class="fa fa fa-copyright"></i>  2022 Eng Hanan - Codding Academy</p>
                </div>
                <div class="col-lg-3">

                </div>
                <div class="col-lg-4">
                        <section>
        <div class="wrapper">
            <div class="button">
                <div class="icon">
                    <i class="fa fa-instagram"></i>
                </div>
                <span>Instagram</span>
            </div>

            <div class="button">
                <div class="icon">
                    <i class="fa fa-facebook-f"></i>
                </div>
                <span>Facebook</span>
            </div>

            <div class="button">
                <div class="icon">
                    <i class="fa fa-twitter"></i>
                </div>
                <span>Twitter</span>
            </div>

            <div class="button">
                <div class="icon">
                    <i class="fa fa-linkedin"></i>
                </div>
                <span>LinkedIn</span>
            </div>

            <div class="button">
                <div class="icon">
                    <i class="fa fa-youtube"></i>
                </div>
                <span>YouTube</span>
            </div>

            <div class="button">
                <div class="icon">
                    <i class="fa fa-github"></i>
                </div>
                <span>Github</span>
            </div>
        </div>
    </section>
                </div>
            </div>
        </div>